.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}
.form__button {
  height: 60px;
  width: 170px;
  align-items: center;
  background-color: var(--button-background);
  border-radius: 10px;
  border: 1px solid #67737d;
  color: var(--text-color-w);
  font-size: var(--fz-h3);
  margin-top: 3rem;
}
