* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}
body {
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: var(--fz-h1);
}

h3 {
  font-size: var(--fz-h3);
}

a {
  text-decoration: none;
  color: var(--text-color-w);
}

:root {
  --main: #344552;
  --text-color-w: white;
  --text-color-b: black;

  --fz-G: 56px;
  --fz-h1: 34px;
  --fz-h3: 24px;
  --fz-p: 16px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
