.team__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.team__wrapper {
  color: var(--text-color-b);
  text-align: center;
  margin-top: 2rem;
  width: 100%;
}
.team__content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.team__sub {
  font-weight: bold;
  margin-top: 2rem;
}

.team__heading {
  margin-top: 4rem;
}

.team__description {
  margin-top: 2rem;
}

.team__card-container {
  display: inline-flex;
  margin-top: 3rem;
  gap: 20px;
}

@media (max-width: 375px) {
  .team__card-container {
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .team__card-container {
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .team__card-container {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  .team__card-container {
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
  }
}
