.team__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.team__content {
  color: var(--text-color-b);
  text-align: center;
  margin-top: 2rem;
}

.team__sub {
  font-weight: bold;
  margin-top: 2rem;
}

.team__heading {
  margin-top: 4rem;
}

.team__description {
  margin-top: 2rem;
}

.team__card-container {
  display: inline-flex;
  margin-top: 3rem;
  gap: 50px;
}

@media (max-width: 375px) {
  .team__card-container {
    flex-direction: column;
  }
}
