.team__container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.team__content {
  width: 80%;
  color: var(--text-color-b);
  text-align: center;
}

.team__sub {
  font-weight: bold;
  margin-top: 2rem;
}

.team__heading {
  margin-top: 2rem;
}

.team__description {
  margin-top: 2rem;
}
