.feedback__container {
  transition: 0.4s color ease-in-out;
}
.content__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 42px 90px;
  justify-content: center;
  align-items: center;
}
.feedback__text {
  width: 70%;
  transition: 0.4s color ease-in-out;
}
.profile__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-active {
  transition: 0.4s color ease-in-out;
  color: #858585;
  font-size: 12px;
}
