.feedback__container {
  transition: 0.4s color ease-in-out;
}
.content__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 42px 90px;
  justify-content: center;
  align-items: center;
}
.profile__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__image {
  height: 45px;
  width: 45px;
}

.not-active {
  transition: 0.4s color ease-in-out;
  color: #858585;
  font-size: 12px;
}
