.header__container {
  background: url("../../images/Bongo-Jams.gif") center center/cover no-repeat;
  height: 1100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.header__content {
  color: var(--text-color-w);
  text-align: center;
}

.header__logo {
  margin-top: 2rem;
  width: 65px;
  height: 65px;
}
.header__arrow {
  margin-bottom: 10rem;
  width: 45px;
  height: 45px;
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 768px) {
  .header__container {
    width: 100%;
  }
}
